<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  <script>
    $(function() {
      $("#datepicker").datetimepicker({
        minDate: 0, // Evita seleccionar fechas pasadas
        disabledWeekDays: [0, 6], // Deshabilita los días sábado y domingo
        disabledDates: ["25/05/2023"], // Deshabilita una fecha específica
        format: 'd/m/Y H:i', // Formato de fecha y hora
        step: 15, // Intervalo de minutos
        disabledTimeIntervals: [
          ['09:00am', '12:00am'], // Deshabilita de medianoche a 9:00 AM
          ['02:30pm', '11:59pm'] // Deshabilita de 2:30 PM a medianoche
        ]
      });
    });
  </script>
</head>
<body>
  <label for="datepicker">Fecha y Hora:</label>
  <input type="text" id="datepicker">
</body>
</html>
